# Discord bot token.
# 
# Handle with care!
BOT_TOKEN=

# Sentry DSN link.
# 
# Used for error tracking with sentry.io. A warning is emitted if not specified.
# DSN links should look something like this: https://...@o1.ingest.sentry.io/123456
# 
# Sentry is disabled in development mode.
SENTRY_DSN=

# Sentry environment name.
# 
# Sentry is disabled in development mode.
SENTRY_ENV="dev"

# Settings file.
# 
# [FUTURE] This field would be deprecated with the introduction of the in-bot
# settings system.
SETTINGS_YAML="defaults/settings.yaml"

# Path to database.
# 
# This determines the database system to be used (in production)
# Mitsuki supports two database systems, SQLite and [EXPERIMENTAL] PostgreSQL.
# 
# Format for each available database type is:
# - SQLite     : sqlite:///{rel_path_to_db_file}
# - PostgreSQL : postgresql://{username}:{password}@{host}:{port}/{db_name}
# 
# When using SQLite, driver `aiosqlite` is used. When using PostgreSQL,
# `asyncpg` is used. Note that the connection string must be URL-encoded,
# including the password.
# 
# Replaces USERDATA_PATH.
DB_URL="sqlite:///data/db.sqlite3"

# System guild ID.
# 
# If specified, system commands would be scoped to this guild.
# Experimental commands may also be scoped here.
SYSTEM_GUILD_ID=

# [FUTURE] Exclusive guild ID.
# 
# 'Exclusive' commands (e.g. /gacha) are scoped to this guild.
EXCLUSIVE_GUILD_ID=

# =============================================================================
# Deprecated variables

# Discord bot token (dev mode).
# 
# Handle with care!
DEV_BOT_TOKEN=